@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins' sans-serif;
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
}

.subjects-list {
    background: #e8eaed;
    background-size: cover;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
    color: #14232A;
    font-family: 'Poppins';
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
    font-weight: 200;
    color: #898e93;
    font-family: 'Poppins';

}

header nav ul li.active::after {
    content: ' ';
    display: block;
    width: 20px;
    height: 3px;
    background: #1d333d;
    cursor: pointer;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 3px solid #1d333d;
    transition: all 400ms ease;
}

header nav ul li.btn a {
    background: #1d333d;
    padding: 9px 17px;
    border-radius: 45px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #05090b;
}

.container2 {
    width: 1300px;
    margin: 0 auto;
}

.hero .select {
    font-family: 'Poppins';
    color: #181818;
    font-weight: 100;
    font-size: 15px;
    padding-top: 100px;
    width: 450px;
    line-height: 2.7em;
}

/* ссылки */


.container3 {
    width: 1300px;
    margin: 0 auto;
}

.work {
    padding: 20px;
    text-align: left;
    
}

.work h1 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 35px;
    padding-top: 70px;
    width: 50%;
    line-height: 1.3em;
    color: #181818;
}

.list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.list li {
    width: 30%;
    margin-right: 15px; /* Отступы между ссылками */
}

.list li:last-child { /* Для последнего элемента убираем правый отступ */
    margin-right: 0;
}

.list a {
    text-decoration: none; /* Убираем подчёркивание */
    color: #181818; /* Цвет текста ссылки */
    display: block;
    padding-top: 150px;
    padding-bottom: 220px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 200;
    line-height: 1.2em;
}