@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins' sans-serif;
}

first {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    background: #e8eaed;
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 100%;
}

.wrapper {
    background: url('Mountain.svg') no-repeat center center fixed;
    background-size: cover;

}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px;
}

.container2 {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 50 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
    color: #14232A;
}

nav {
    float: right;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

nav ul li {
    display: inline-block;
}

nav ul li a:not(.btn) {
    color: #fff;
    font-weight: 400;
    color: #181818;


}

nav ul li.active::after {
    content: ' ';
    display: block;
    width: 20px;
    height: 3px;
    background: #1d333d;
    cursor: pointer;
}

nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 3px solid #1d333d;
    transition: all 400ms ease;
    color: #e8eaed
}

nav ul li.btn a {
    background: #1d333d;
    padding: 9px 17px;
    border-radius: 45px;
    transition: all 500ms ease;
    color: #d5d9de;
}

nav ul li.btn a:hover {
    background: #05090b;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 550px;
    padding-top: 45px;
}

.hero--info h2 {
    color: #181818;
    font-weight: 300;
    font-size: 20px;
}

.hero--info h1 {
    color: #e8eaed;
    font-weight: 800;
    font-size: 80px;
    width: 480px;
    line-height: 1.2em;
}

.hero--info h3 {
    color: #181818;
    font-weight: 800;
    font-size: 80px;
    width: 480px;
    line-height: 1.2em;
}

.hero--info p {
    color: #d5d9de;
    font-weight: 300;
    font-size: 14px;
    width: 460px;
    margin: 30px 0;
    padding-bottom: 130px;
}

.second {
    font-family: 'Poppins', sans-serif ;
    color: #000;
    background: #e8eaed;
    background-size: cover;
    text-decoration: none;
}

.second--info h3 {
    padding-bottom: 70px;
    font-size: 40px;
}

.second--info h4 {
    font-size: 20px;
    font-weight: 100;
    color: #181818;
    padding-top: 100px;
    padding-top: 100px;
}

.second--info h5 {
    font-size: 30px;
    font-weight: 800px;
    color:#1d333d;
    width: 700px;
    padding-top: 50px;
    
}

.second--info h6 {
    font-size: 20px;
    font-weight: 300;
    color: #181818;
    padding-top:70px;
    padding-left: 551px;
    padding-bottom: 70px;
}

.second--info img {
    width: 100px;
    height: 40px;
    padding-top: 30px;
    float: right;
}

/* Руководители */

.realisers {
    display: flex;
    justify-content: space-between; /* Размещаем элементы по ширине контейнера */
}

.realiser {
    text-align: center; /* Центрируем текст относительно изображений */
    margin: 0; /* Отступы слева и справа */
}

.realiser img {
    width: auto; /* Ширина изображения (может быть изменена по необходимости) */
    height: auto; /* Сохраняем пропорции изображения */
     /* Делаем изображение круглым */
    margin-bottom: 15px; /* Отступ снизу от изображения до текста */
}

.realiser h1 {
    color: #181818;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 300;
    margin-top: 0; /* Убираем верхний отступ у заголовка */
    margin-bottom: 5px; /* Небольшой отступ перед подзаголовком */
}

.realiser h2 {
    color: #181818;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding-bottom: 100px; /* Убираем верхние и нижние отступы */
} 

/* секция с speakers */

.container3 {
    width: 1300px;
    margin: 0 auto;
    font-family: 'Poppins' sans-serif;
}

.speakers {
    background-color: #fff; /* Фоновый цвет секции */
    padding: 50px 0;
}

h3 {
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 31px;
    font-weight: 200;
    margin-bottom: 50px;
}

.games {
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Отступ между изображениями */
    padding-bottom: 100px;
}

.block {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block h1 {
    font-family: 'Poppins';
    font-weight: 500;
    position: absolute;
    bottom: 70px;
    left: 35%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    padding: 5px 20px;
    z-index: 1;
    margin: 0;
    line-height: 1.1;

}

.block h4 {
    font-family: 'Poppins';
    font-weight: 100;
    position: absolute;
    bottom: 15px;
    left: 35%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    padding: 5px 10px;
    z-index: 1;
    margin: 0;
    line-height: 1.1;
    height: 50px;
}

/* Дополнительная надпись "Спикер" */
.block::before {
    content: "Спикер";
    font-family: 'Poppins';
    font-weight: 800;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 19px;
    color: #000000;
    background-color: transparent;
    padding: 5px 10px;
    z-index: 1;
}

/* Страница с расписанием */

.fourth {
    background: #1d333d;
    background-size: cover;
}

.container4 {
    width: 1300px;
    margin: 0 auto;
}

.big-text h4 {
    padding-top: 100px ;
    font-size: 25px;
    font-weight: 200;
    text-align: right;
    font-family: 'Poppins';
    color: #fff;
}

.big-text h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: right;
    font-family: 'Poppins';
    color: #e8eaed
}

.big-text h5{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins';
    color: #e8eaed;
    padding: 100px 0;
    line-height: 1.2em;
    
}

.big-text h5 a {
    color: #79919C;
    text-decoration: none;
}

.big-text h5 a:hover {
    transition: all 400ms ease;
    color: #fff;
}

.fifth {
    background: #181818;
    background-size: cover;
}

.container5 {
    width: 1200px;
    margin: 0 auto;

}

.quote h1 {
    padding-top: 120px;
    font-family: 'Poppins';
    font-size: 200px;
    font-weight: 600;
    color: #e8eaed;
    text-align: center;
}

.quote h2 {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    color: #e8eaed;
    text-align: center;
}

.quote h3 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 200;
    color: #e8eaed;
    text-align: left;
    padding: 250px 0;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {

    .header {
        padding-top: 50px 0;
    }
    .hero--info h1 {
        font-size: 60px;
        width: 100%;
    }
    
    .hero--info h3 {
        font-size: 60px;
        width: 100%;
    }
    
    .hero--info p {
        width: 100%;
    }
    
    .second--info h5 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header nav {
        width: 70%;
    }
    
    .hero--info h1,
    .hero--info h3 {
        font-size: 40px;
    }
    
    .second--info h6 {
        padding-left: 0;
        text-align: center;
    }
    
    .block {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px;
    }
}

/*EPOOOOOEOEOOOEOEOEOOEEOEOOREOEOOOAOEOOAEOAEOEOAOEAOOEOAEOAEOAOEOAEOEOAOEAOEAOAOEOAEOAOEOAOEOOEAOEOAEOAOEOAEOAOEOAEAOEOAOEOAO*/

@media screen and (max-width: 576px) {

    .wrapper {
        background: #fff;
        background-size: cover;
    
    }

    .container {
        max-width: 100%;
        width: 90%;
    }

    header {
        padding: 30px 0;
        
    }

    
    header .logo {
        font-size: 23px;
        margin-top: 20px;
        padding-top: 20px;
    }
    
    nav {
        width: 100%;
        float: none;
        padding-top: 80px;
    }
    
    nav ul {
        flex-direction: inline;
        text-align: right;
        gap: 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        position: relative;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a{
        text-decoration: none;
        color: #181818;
        font-size: 13px;
        font-weight: 100;
        font-family: 'Poppins';
    }


    nav ul li:not(.active):not(.btn) a:hover {
        color: #898e93;
    }
    
    nav ul li.btn {
        margin-top: 0px;
    }

    nav ul li:not(.btn) a:hover {
        border-bottom: 3px solid #1d333d;
        transition: all 400ms ease;
    }

    nav ul li.btn a {
        background: #1d333d;
        padding: 9px 17px;
        border-radius: 45px;
        transition: all 500ms ease;
    }

    nav ul li.btn a:hover {
    background: #05090b;
    }    
    .hero--info {
        width: 100%;
        padding-top: 3px;
    }
    
    .hero--info h1,
    .hero--info h3 {
        font-size: 50px;
    }

    .hero--info h1 {
        color: #181818;
    }

    .hero--info h3 {
        color: #1d333d;
        font-size: 50px;
    }
    
    .hero--info h2 {
        font-size: 23px;
        color: #000;
    }

    .hero--info p {
        font-size: 14px;
        width: 85%;
        padding-bottom: 20px;
        padding-top: 10px;
        color: #181818;
    }

    .container2 {
        max-width: 100%;
        width: 90%;
    }

    .second--info h6 {
        float: center;
        margin-left: 0px;
        font-size: 17px;
        margin-left: 50%;
    }
    
    .second--info h3 {
        font-size: 32px;
        padding-bottom: 40px;
        margin-top: 30px;
    }

    .second--info h1 {
        font-size: 15px;
        float: center;
        margin-left: 22%;
    }

    .second--info h2 {
        font-size: 10px;
        float: center;
        margin-left: 22%;
    }

    .second--info h4 {
        font-size: 17px;
    }
    
    .second--info h5 {
        font-size: 20px;
        padding-top: 30px;
        font-weight: 800;
        width: 85%;
    }

    .second--info .realiser img {
        width: 80%;
        height: auto;
        padding-top: 5px;
        float: center;
    }
    .container3 {
        max-width: 100%;
        margin: 0 auto;
        font-family: 'Poppins' sans-serif;
        width: 90%;
    }
    .speakers .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .speakers .block .img {
        height: auto;
        width: 100%;
        margin-bottom: 15px;
    }

    .container3 h3 {
        width: 90%;
    }

    .block::before {
        content: "Спикер";
        font-family: 'Poppins';
        font-weight: 800;
        position: absolute;
        top: 4%;
        left: 8px;
        font-size: 17px;
        color: #000;
        background-color: transparent;
        padding: 5px 10px;
        z-index: 1;
    }

    .block h1 {
        font-family: 'Poppins';
        font-weight: 500;
        position: absolute;
        bottom: 16%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        background-color: transparent;
        padding: 5px 0px;
        text-algin: center;
        z-index: 1;
        margin: 0;
        line-height: 1.1;
    
    }

    .block h4 {
        font-family: 'Poppins';
        font-weight: 100;
        position: absolute;
        bottom: 10px;
        left: 35%;
        transform: translateX(-50%);
        font-size: 10px;
        width: 70%;
        color: #ffffff;
        background-color: transparent;
        padding: 5px 10px;
        z-index: 1;
        margin-left: 10px;
        line-height: 1.1;
        height: 50px;
    }

    .container4 {
        max-width: 100%;
        margin: 0 auto;
        font-family: 'Poppins' sans-serif;
        width: 90%;
    }

    .big-text h4 {
        padding-top: 50px ;
        font-size: 20px;
        font-weight: 200;
        text-align: right;
        font-family: 'Poppins';
        color: #fff;
    }

    .big-text h2 {
        font-size: 25px;
        font-weight: 800;
        text-align: right;
        font-family: 'Poppins';
        color: #e8eaed;
    }

    .container5 {
        max-width: 100%;
        margin: 0 auto;
        font-family: 'Poppins' sans-serif;
        width: 90%;
        height: auto;
    }

    .quote h1 {
        padding-top: 50px;
        font-family: 'Poppins';
        font-size: 100px;
        font-weight: 600;
        color: #e8eaed;
        text-align: center;
    }
    
    .quote h2 {
        font-family: 'Poppins';
        font-size: 25px;
        font-weight: 600;
        color: #e8eaed;
        text-align: center;
    }
    
    .quote h3 {
        font-family: 'Poppins';
        font-size: 15px;
        font-weight: 200;
        color: #e8eaed;
        text-align: left;
        padding-top: 100px;
    }
    
}
